@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.register_container{
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.fl2,.fl4{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fl3{
  display: flex;
  height: 40vh;
  width: 35vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.note{
  display: flex;
  flex-direction: column;
  min-height: 170px;
  justify-content: space-around;
}
.im{
  width: 30vh;
  margin-top: 20px;
  height: 30vh;
}
.register_container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.register_container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.fl2 span{
  color: rgb(3, 3, 90);
  font-weight: 600;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  background: none;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  border: none;
  border-bottom: 2px solid #000;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .category{
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   width: 150px;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 form .button{
   height: 45px;
   margin: 30px 0
 }
 form .button button{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button button:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
  form .user-details .full{
    width: 99%;
  }
  .login{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }
  .user{
    margin: 12px 0;
    text-align: center;
  }
  .pid{
    color: green;
    text-align: center;
  }
  .content2{
    width: 100%;
  }
  @media(max-width: 1040px){
    .fl2{
      flex-direction: column;
    }
  }
 @media(max-width: 584px){
 .register_container{
  max-width: 100%;
  padding: 20px;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
    .fl4{
      flex-direction: column;
    }
  .register_container .content .category{
    flex-direction: column;
  }
}
.payment{    font-size: 20px;
  text-align: center;
    font-weight: 500;}
.btn{background-color: #71b7e6;}
.payment1,.upi {
  color: blue;
  font-weight: bold;
  
}
.b1{
  background-color: white;
  border: none;
  font-weight: bold;
  color: darkblue;
}

.payment_details{
  font-size: 25px;
  font-weight: 500;
}

.register_pay{
  margin-top: 10px;
  margin-bottom: 30px;
}

.upi_id{
  margin: 16px 0;
}

.note span{
  color: red;
  font-weight: 500;
}

/* blob animation */

.registration_form,.register_pay{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  padding: 1.5rem;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255,0.42) 31.77%,
    #5c9df1 100%
  );
  -webkit-animation: move 25s infinite alternate;
          animation: move 25s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  top: 0;
  z-index: -1;
}


@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@media(max-width:993px){

  .register_pay{
    margin-top: 30px;
  }

  .blob{
    width: 300px;
    height: 300px;
    animation: move 10s infinite alternate;
  }
  .button{
    width: 90%;
    margin: 0;
  }
  .user-details{
    width: 90%;
  }

  @-webkit-keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(0px, 400px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  
  @keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(0px, 400px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
}

@media(max-width: 750px){
  .fl{
    flex-direction: column;
  }
  .button{
    width: 80%;
    margin: 0;
  }
  .user-details{
    width: 80%;
  }
}
@media(max-width: 400px) {
  .button{
    width: 73.5%;
  }
}